:root {
  --primary: #0077c2;
  --primary-hover: #005587;

  --secondary: #e6c9a8;
  --secondary-hover: #d5b291;

  --accent: #ff6f61;
  --accent-hover: #e65a4f;

  --text: #333333;
}

.dark {
  --mainBackground: #1a1a1a;
  --mainText: #cfcfcf;
  --secondaryBackground: #2b2b2b;
  --secondaryText: #8e8e8e;
}

.light {
  --mainBackground: #f8f8f8;
  --mainText: #333;
  --secondaryBackground: #e0e0e0;
  --secondaryText: #757575;
}
