.container {
}

.title {
  font-size: 60px;
  margin: 20px 0;
}
.categories {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.category {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  width: 15%;
  height: 50px;
}

.fashionbg {
  background-color: rgb(177, 219, 158);
}
.articlebg {
  background-color: rgb(224, 177, 184);
}
.technologybg {
  background-color: rgb(194, 134, 203);
}
.sciencebg {
  background-color: rgb(162, 158, 235);
}
.lifebg {
  background-color: rgb(158, 219, 213);
}

.caterImage {
  border-radius: 50%;
}

@media screen and (max-width: 1736px) {
  .category {
    width: 20%;
  }
}

@media screen and (max-width: 1336px) {
  .category {
    width: 25%;
  }
}

@media screen and (max-width: 1024px) {
  .category {
    width: 45%;
  }
  .title {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .category {
    width: 40%;
  }
  .categories {
    gap: 5px;
  }
}

@media screen and (max-width: 430px) {
  .category {
    width: 100%;
  }
  .categories {
    gap: 10px;
  }
}
