.container {
}

.title {
  font-size: 60px;
  margin: 20px 0;
}
.categories {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.category {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  width: 15%;
  height: 60px;
}

.category.fashion {
  background-color: rgb(177, 219, 158);
}
.category.article {
  background-color: rgb(224, 177, 184);
}
.category.technology {
  background-color: rgb(194, 134, 203);
}
.category.science {
  background-color: rgb(162, 158, 235);
}
.category.life {
  background-color: rgb(158, 219, 213);
}


.caterImage {
  border-radius: 50%;
}

@media screen and (max-width: 1736px) {
  .category {
    width: 20%;
  }
}

@media screen and (max-width: 1336px) {
  .category {
    width: 25%;
  }
}

@media screen and (max-width: 1024px) {
  .category {
    width: 45%;
  }
  .title{
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .category {
    width: 50%;
  }
}

@media screen and (max-width: 430px) {
  .category {
    width: 100%;
  }
}
