.featureMenu {
  display: flex;
  gap: 50px;
}

@media screen and (max-width: 1736px) {
}

@media screen and (max-width: 1336px) {
  .featureMenu {
    flex-direction: column;
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 450px) {
}
